body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  height: 10vh;
  background-color: aliceblue;
}

.layout-container {
  display: flex;
  height: 90vh; /* Ajusta la altura al 90% de la pantalla */
}

.side-menu-container {
  flex: 0 0 20%;
  overflow-y: auto;
  height: 100%; /* Ocupa el 100% del espacio restante */
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  height: 100%; /* Ocupa el 100% del espacio restante */
}

.scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #2d73e2;
  color: #ffffff;
  border: black 1px solid !important;
  border-radius: 25%;
  width: 65px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

/* Ajusta el tamaño de la app-side-menu para evitar desbordamiento */
app-side-menu {
  max-height: 90%;
  overflow-y: auto;
}

.vertical-line {
  border-left: 2px solid rgb(141, 137, 137); /* Puedes ajustar el grosor y el color según tus preferencias */
  height: 100%; /* Ajusta la altura al 100% de la pantalla */
}
