<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/prismjs/prism.js"></script>
<link href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/prismjs/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/prismjs/prism.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>

<style>

</style>
<header [ngClass]="{'visible': isHeaderVisible, 'hidden': !isHeaderVisible}">
  
  
</header>
<body style="background-color: #8AB4F9;">
  
  <div class="layout-container">
    <!-- Contenido principal -->
    <app-side-menu></app-side-menu>
    <div class="layout-content" style="margin-top: 5%;">
        <router-outlet></router-outlet>
        <button pButton type="button" icon="pi pi-arrow-up" class="scroll-top-button" (click)="scrollToTop()"></button>
          <!--<p-button class="scroll-top-button p-button-rounded" (click)="scrollToTop()" icon="pi pi-arrow-up" iconPos="center"></p-button>-->
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body> 
