body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  height: 10vh;
  background-color: rgb(125, 137, 148);
}


.layout-container {
  display: flex;
  height: 90vh; /* Ajusta la altura al 90% de la pantalla */
}

.side-menu-container, .main-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  height: 100%; /* Ocupa el 100% del espacio restante */
}

.side-menu-container {
  flex: 0 0 20%;
  overflow-y: auto;
}

.vertical-line {
  border-left: 2px solid rgb(141, 137, 137); /* Puedes ajustar el grosor y el color según tus preferencias */
  height: 100%; /* Ajusta la altura al 100% de la pantalla */
}



:host ::ng-deep .p-panel .p-panel-content { 
  background: #3d434d !important; 
  border-color: rgb(150, 145, 163) !important;
} 

:host ::ng-deep .p-panelmenu .p-panelmenu-header > a,
:host ::ng-deep .p-panelmenu .p-panelmenu-content {
  background: #3d434d !important;
  border-color: #3d434d !important;
}

:host ::ng-deep .p-panelmenu .p-panelmenu-header:not(.p-highlight):not(.p-disabled)>a:hover,
:host ::ng-deep .p-panelmenu .p-panelmenu-header.p-highlight>a,
:host ::ng-deep .p-panelmenu .p-panelmenu-header.p-highlight:not(.p-disabled)>a:hover {
  background-color: rgb(91, 70, 150) !important;
  border-color: rgb(153, 127, 224) !important;
  box-shadow: 2px 2px;
  color: rgb(30, 175, 127) !important;
  border-radius: 20px;
}
:host ::ng-deep .p-panelmenu .p-panelmenu-header.p-highlight:not(.p-disabled)>a{
  color: rgb(30, 175, 127) !important;
}
:host ::ng-deep .p-panelmenu .p-panelmenu-header>a{
  background-color: rgb(115, 91, 180) !important;
  border-color: rgb(153, 127, 224) !important;
  color: rgb(150, 43, 43) !important;
  border-radius: 20px;
  margin-bottom: 3%;
}

:host ::ng-deep .p-panel .p-panel-header { 
  background: #667388 !important; 
} 

:host ::ng-deep .p-menuitem-text,
:host ::ng-deep .p-menuitem-icon,
:host ::ng-deep .p-panelmenu .p-component.p-panelmenu-header>a {
  color: white !important;
}
:host ::ng-deep .p-panel .p-panel-header  
.p-panel-header-icon { 
    color: white !important; 
    box-shadow: 0 0 0 0.2rem white !important; 
} 

:host ::ng-deep .p-panelmenu .p-menuitem-link[role="treeitem"] {
  margin-left: 20% !important; /* Ajusta este valor según sea necesario */
  border-radius: 20px;

}

