body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  height: 10vh;
  background-color: rgb(125, 137, 148);
}

.layout-container {
  display: flex;
  height: 90vh; /* Ajusta la altura al 90% de la pantalla */
}

.side-menu-container {
  flex: 0 0 20%;
  overflow-y: auto;
  height: 100%; /* Ocupa el 100% del espacio restante */
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  height: 100%; /* Ocupa el 100% del espacio restante */
}

/* Ajusta el tamaño de la app-side-menu para evitar desbordamiento */
app-side-menu {
  max-height: 90%;
  overflow-y: auto;
}

.vertical-line {
  border-left: 2px solid rgb(141, 137, 137); /* Puedes ajustar el grosor y el color según tus preferencias */
  height: 100%; /* Ajusta la altura al 100% de la pantalla */
}

:host ::ng-deep .p-panelmenu .p-panelmenu-header > a,
::ng-deep .p-panelmenu .p-panelmenu-content {
  background: #3d434d !important;
  border-color: #3d434d !important;
}



:host ::ng-deep .p-panel .p-panel-content { 
  background: #3d434d !important; 
  border-color: rgb(150, 145, 163) !important;
} 

::ng-deep .p-panelmenu .p-panelmenu-header:not(.p-highlight):not(.p-disabled)>a:hover {
  background-color: rgb(77, 48, 156) !important;
  border-color: rgb(77, 48, 156) !important;
}

::ng-deep .p-panelmenu .p-panelmenu-header.p-highlight>a {
  background-color: rgb(77, 48, 156) !important;
}


::ng-deep .p-panelmenu .p-panelmenu-header.p-highlight:not(.p-disabled)>a:hover {
  background-color: rgb(77, 48, 156) !important;
}

:host ::ng-deep .p-panel .p-panel-header{ 
  background: #667388 !important; 
} 

:host ::ng-deep .p-menuitem-text{
  color: white !important;
}
:host ::ng-deep .p-menuitem-icon{
  color: white !important;
}
:host ::ng-deep .p-panelmenu .p-component.p-panelmenu-header>a {
  color: white !important;
}