.copy-button {
  margin-left: 50px; 
}
.code-textarea {
  width: 100%; 
  height: 150px;
}
.code-container {
  position: relative;
}

.code-textarea {
  padding-left: 2.5em;
}

.line-numbers span {
  display: block;
  line-height: 1.5em;
}
.code-container {
  position: relative;
  max-height: 400px;
  overflow-y: auto; 
}
p {
  font-size: 18px;
}
:host ::ng-deep .listbox1 { 
width: 300px; 
background-color: #3d434d;
border: none;
margin: 0 auto;
}  



:host ::ng-deep .listbox1 .p-listbox-item { 
  color: red !important; 
  font-weight: bold !important; 
}
:host ::ng-deep .p-listbox-list { 
  border: 5px solid green !important; 
} 
:host ::ng-deep .p-listbox-header { 
  color: white !important; 
  background-color: green !important; 
  font-size: 20px !important; 
} 


span{
  font-size: 18px;
  color: white;
}
pre {
  width: 100%; /* Ajusta el ancho del bloque de código */
  margin: 0; /* Elimina el margen predeterminado */
  padding: 1em; /* Agrega un espacio interno alrededor del bloque de código */
  white-space: pre-wrap; /* Permite que los saltos de línea se muestren correctamente */
  border-radius: 4px; /* Agrega bordes redondeados al bloque de código */
  border: 1px solid #ddd; /* Agrega un borde al bloque de código */
  background-color: #f4f4f4; /* Establece el color de fondo del bloque de código */
  overflow-y: auto;
}
pre code.language-javascript {
  white-space: pre-wrap; /* Esto permite que los saltos de línea se muestren correctamente */
}
pre code.language-console {
  white-space: pre-wrap; /* Esto permite que los saltos de línea se muestren correctamente */
}

