.copy-button { /* Mueve el botón a la derecha */
    margin-left: 50px; /* El espacio disponible se asigna al margen izquierdo del botón */
  }
  .code-textarea {
    width: 100%; /* Ajusta el ancho del textarea según sea necesario */
    height: 150px; /* Ajusta la altura del textarea según sea necesario */
  }
  .code-container {
    position: relative;
  }
  
  .code-textarea {
    padding-left: 2.5em; /* Deja espacio para los números de línea */
  }
  
  .line-numbers span {
    display: block;
    line-height: 1.5em;
  }

  .code-container {
    position: relative;
    max-height: 400px; /* Establece el tamaño máximo */
    overflow-y: auto; /* Agrega scroll vertical cuando sea necesario */
  }
  
  pre {
    width: 100%;
    margin: 0;
    padding: 1em;
    white-space: pre-wrap;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #f4f4f4; 
    overflow-y: auto;
  }
  pre code.language-javascript {
    white-space: pre-wrap;
  }
  pre code.language-console {
    white-space: pre-wrap;
  }
 