/* You can add global styles to this file, and also import other style files */
.page-title {
    font-size: 28px;
    font-weight: bold; 
    color: #fff; 
    background-color: #007bff; 
    padding: 10px 20px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.panel-wrapper {

  overflow: hidden; 
  width: 100%;
}
.p-menuitem-link:hover {
  background: #9fb5db !important;
}

img{
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 7.5px;

}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
h1, h2, h3, h4, p, li{
  color: white;
}

.titleGoogle{
  font-family: "Jersey 20", sans-serif;
  font-weight: 100;
  color: black;
  font-size:8vh;
}