  a {
    color: white; /* Cambia el color del texto a rojo */
  }
  a:hover {
    color: white; /* Cambia el color del texto a rojo */
  }

    
.container {
  display: flex;
  margin-left: 0%;
  align-items: center;
}